<div layout:decorate="~{layout}" layout:fragment="content" class="row g-5">
  <div class="col-md-8">
    <section layout:fragment="left-content"></section>
  </div>

  <div class="col-md-4">
    <div class="p-4 mb-3 bg-light rounded">
      <h4 class="fst-italic">About</h4>
      <p class="mb-0" th:text="${appAboutDescription}"></p>
    </div>

    <div>
      <a class="btn btn-link" th:href="@{/}">Home</a>
    </div>

    <div>
      <a th:each="tag : ${tags}" class="btn btn-link btn-sm" th:text="${tag.name}" th:href="${'/tags/'+tag.name}"></a>
    </div>
  </div>
</div>